#search {
	width: 670px;
}

#searchInput {
	flex-grow: 1;
	background: var(--theme-color-2);
}

#searchInput-mobile{
	width: 100%;
	background: var(--theme-color-2);
}

#searchButton {
	height: 100%;
	background: var(--theme-color-2);
}

#products {
	flex-wrap: wrap;
}

#new-product {
	position: fixed;
	bottom: 5%;
	right: 5%;
}

@media screen and (min-width: 650px) {
	.mobile-view {
		display: none;
	}

	.desktop-view {
		display: inherit;
	}
}

@media screen and (max-width: 650px) {
	 
	.mobile-view {
		display: inherit;
	}
	
	.desktop-view {
		display: none;
	}
}